@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #333333;
    --menthol: #C7E4A7;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
}

.container {
    width: 380px;
    margin: 0  auto;
    background-color: var(--black);
    height: 100vh;
}

.content {
    padding: 40px 20px;
    height: calc(100% - 80px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 20px;
}

.content .day {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .01rem;
    text-transform: lowercase;
}


/* Main Page */
.content .quotes {
    padding: 20px;
    background-color: var(--white);
    border-radius: 20px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .quotes .quote {
    padding: 20px;
    text-align: center;
}

.content .quotes .quote #quote {
    font-weight: 500;
    letter-spacing: .1rem;
}

.content .quotes .quote button {
    padding: 7px 20px;
    border-radius: 1rem;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
}

.content .navigation h1 {
    font-weight: 700;
    letter-spacing: .01rem;
    font-size: .9rem;
    margin: 0;
}

.content .navigation .nav {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.content .navigation .nav .leftNav,
.content .navigation .nav .rightNav {
    background-color: var(--gray);
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}

.content .navigation .nav a {
    text-decoration: none;
    color: var(--white);
}

.content .navigation .nav .btn {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    font-size: .8rem;
}

.content .navigation .nav .btn .image img {
    width:40px;
    height: auto;
}

.content .navigation .nav .btn .text {
    line-height: 40px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .planning .inputItem {
        width: calc(100vw - 75px);
    }
}


/* .content .quotes,
.content .navigation {
    display: none;
} */


/* Planning page */
.planning {
    display: none;
}
.planning .planningBack {
    background-color: var(--black);
    color: var(--white);
    border: none;
    font-size: 1.3rem;
    padding: .5rem 2rem .5rem 0;
    cursor: pointer;
}

.planning .tasks {
    padding: 0;
    list-style: none;
}
.planning .tasks li {
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.planning .tasks li span {
    float: right;
    cursor: pointer;
}
.donetask {
    color: var(--menthol);
}

.planning .inputItem {
    padding: 1.3rem 1rem 0 1rem;
    border-radius: 5px;
    background-color: var(--gray);
    box-shadow: rgb(15 15 15 / 20%) 0px 0px 0px 1px, rgb(15 15 15 / 20%) 0px 2px 4px;
}
.planning .inputItem #task {
    background-color: var(--gray);
    border: none;
    border-bottom: 2px solid var(--white);
    padding: 10px;
    margin-bottom: 1rem;
    width: calc(100% - 100px);
    color: var(--white);
}
.planning .inputItem #task:focus {
    outline: none;
}
.planning .inputItem .addItem {
    float: right;
    background-color: var(--white);
    color: var(--gray);
    border: none;
    padding: .7rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

/* focus */
.focus {
    display: none;
}
.focus-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.focus .focusBack {
    background-color: var(--black);
    color: var(--white);
    border: none;
    font-size: 1.3rem;
    padding: .5rem 2rem .5rem 0;
    cursor: pointer;
    margin-bottom: 1rem;
}
.focus-data div {
    background-color: var(--gray);
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
}
.active {
    color: var(--menthol);
}